.back-home-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2rem;
  right: 2rem;
  color: $platinum;
  transition: $transition-duration;
  transform: scale(1);
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 1;
  &:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 3px $apricot;
    color: $apricot;
  }
}