.card-wrapper {
  width: $card-width;
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  transform: scale(1);
  transition: $transition-duration;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 16px $honeydew;
    transform: scale(1.01);
    .card {
      background: transparent;
      color: $platinum;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $platinum;
    img {
      width: $card-width;
      height: 196px;
    }
    h3 {
      padding: .6rem;
    }
  }
  .infos {
    position: absolute;
    top: 0;
    height: 196px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba($color: $air-force-blue, $alpha: .96);
    color: $night;
    transition: $transition-duration;
    opacity: 0;
    z-index: 1;
    .icons {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    i {
      cursor: auto;
      border-radius: 50%;
      padding: .5rem;
      font-size: 1.5rem;
      transition: $transition-duration;
      &:hover {
        box-shadow: 1px 1px 3px $honeydew;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}