@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lato:wght@100&display=swap');

$font-1 : 'Lato', sans-serif;
$font-2 : 'Josefin Sans', sans-serif;

// Général
body {
  font-family: $font-1;
  color: #000;
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}

.text {
  font-family: $font-2;
}
