$night-blue: #1A1A20;
$light-grey: #DBDBDB;
$glowing-yellow: #FFEE10;
$glowing-green: #44D62C;
$glowing-blue: #4D4DFF;
$javascript-color: #f7df1e;
$react-color: #00d8ff;
$css-color: #1572B6;
$sass-color: #CC6699;

$card-width: 256px;
$tictactoe-size: 128px;

$transition-duration: .4s