.password-generator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.password-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid $glowing-yellow;
  border-radius: 3px;
  color: $glowing-yellow;
  .output {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0 auto 1.2rem;
    width: 100%;
  }
  input {
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
  }
  .range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 2.5rem;
    input[type="range"] {
      appearance: none;
      width: 40%;
      max-width: 100%;
      height: 15px;
      padding: 0;
      background: $glowing-yellow;
      opacity: 0.7;
      transition: opacity $transition-duration;
      box-shadow: 0 2px 35px rgba(0,0,0,.4555);
      border-radius: 10px;
      cursor: pointer;
      scroll-behavior: smooth;
      z-index:1;
      &::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: #000;
        border-radius: 18px;
        transition: $transition-duration ease;
        &:focus , &:active{
          padding: 16px;
          box-shadow:  0 0 10px rgba(0,0,0,.25);
        }
      }
    }
    #display-password-length {
      text-align: center;
      font-size: 1.4rem;
      width: 80px;
      padding-top: 10px;
    }
  }
  .items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 1rem 2rem;
    input {
      display: none;
      &:hover + label {
        box-shadow: 0 0 8px $glowing-yellow;
        filter: brightness(120%);
      }
      &:checked + label {
        background: $glowing-yellow;
        // filter: brightness(120%);
        transform: scale(1.1);
        font-weight: bold;
        color: #000;
      }
    }
    label {
      border: 1px solid $glowing-yellow;
      border-radius: 4px;
      padding: 0.8rem;
      cursor: pointer;
      font-size: 1.3rem;
      text-align: center;
      display: block;
      width: 80px;
      transition: .2s ease;
    }
  }
  button {
    outline: none;
    background-color: transparent;
    border: 1px solid $glowing-yellow;
    color: $glowing-yellow;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: .2s ease;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 8px $glowing-yellow;
      filter: brightness(120%);
    }
  }
}