.password-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid $platinum;
  border-radius: 4rem;
  box-shadow: 0 0 1rem rgba($color: $platinum, $alpha: .8);
  .output {
    margin: 0 auto 1.2rem;
    width: 100%;
  }
  input {
    border: none;
    background: transparent;
    color: inherit;
  }
  .range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 2.5rem;
    input[type="range"] {
      appearance: none;
      width: 40%;
      max-width: 100%;
      height: .5rem;
      padding: 0;
      background: $platinum;
      opacity: 0.9;
      transition: opacity $transition-duration;
      box-shadow: 0 2px 1rem rgba($platinum,.8);
      border-radius: 10px;
      cursor: pointer;
      scroll-behavior: smooth;
      z-index:1;
      &::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: $air-force-blue;
        border-radius: 18px;
        transition: $transition-duration ease;
        &:focus , &:active{
          padding: .75rem;
          box-shadow:  0 0 10px rgba(0,0,0,.25);
        }
      }
    }
    #display-password-length {
      width: 80px;
      padding-top: 10px;
    }
  }
  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem 1rem 2rem;
    height: 52px;
    input {
      display: none;
      &:hover + label {
        box-shadow: 0 0 8px $platinum;
        background: $honeydew;
      }
      &:checked + label {
        transform: scale(1.1);
        background-color: $honeydew;
        border: 2px solid $honeydew;
      }
    }
    label {
      border: 1px solid $platinum;
      border-radius: 4px;
      padding: 0.8rem;
      cursor: pointer;
      display: block;
      width: 80px;
      transition: .2s ease;
    }
  }
  button {
    background-color: transparent;
    border: 1px solid $platinum;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border-radius: 3px;
    transition: .2s ease;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 8px $honeydew;
      background-color: $honeydew
    }
  }
}