.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  &-table {
    padding: .2rem;
    border: 2px solid #FFF;
    border-radius: 6px;
    background-color: $air-force-blue;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .play-mode {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    button {
      padding: .5rem 1rem;
      outline: none;
      background-color: #FFF;
      border-radius: 6px;
      font-family: inherit;
      cursor: pointer;
      box-shadow: none;
      transform: scale(1);
      transition: $transition-duration;
      &.active {
        background-color: $platinum;
      }
      &:hover {
        box-shadow: 0 0 12px rgba($color: #FFF, $alpha: .6);
        transform: scale(1.05);
      }
    }
  }
}

.square {
  background: white;
  border: 4px double $air-force-blue;
  float: left;
  line-height: $tictactoe-size;
  height: $tictactoe-size;
  width: $tictactoe-size;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  cursor: pointer;
  &:hover {
    background-color: $honeydew;
  }
  &:focus {
    outline: none;
  }
}