* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: radial-gradient(#2B2B2B, #1F1F1F);
}

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 1.5rem;
}